.headerInfo{
    background-color: purple;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
    color: white;
    h1{
        margin: 6px;
        margin-bottom: 10px;
    }
    p{
        margin: 2px;
    }
    ion-back-button{
        --color: white;
    }
}

ion-footer{
    display: flex;
    justify-content: space-between;
    height: 50px;
    ion-button{
        width: 50%;
        --border-radius: 0px;
        margin: 0px;
        height: 100%;
    }

    #code{
        --background: #83C9F4;
    }
}

div.sessionCard{
    border: 1px solid var(--ion-color-primary);
    border-radius: 5px;

    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;

    padding: 10px 15px 10px 15px;

    div.cardTitle{
        span{
            font-weight: 700;
            font-size: 1.2em;
        }
    }

    div.cardContent{
        display: flex;
        justify-content: space-between;
        span.date{
            color: var(--ion-color-medium);
        }
        span.status{
            text-decoration: underline;
        }
        span.missed{
            color: red;
        }
    }
}